<mat-card>
    <form (submit)='onSubmit(signupForm)' #signupForm='ngForm' class="sign-up-form">
        <mat-form-field>
            <input matInput type='email' name='email' ngModel placeholder="Email ID" #emailInput='ngModel' required email>
            <mat-error *ngIf='emailInput.invalid'>Please enter valid Email ID</mat-error>
        </mat-form-field>
        <div>
            <button mat-raised-button color='accent' class="sign-up-btn float-right">Sign-Up</button>
        </div>
        <div class="clearfix"></div>
    </form>
</mat-card>